body {
    background-color: dimgrey;
    text-align: center;
}

.fish {
    background-color: darkturquoise;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.each-fish {
    border: 20px fuchsia;
}
.fishpics {
    width: 18vw;

}

.fish-btn {
    float: bottom;
}

.tanks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tankpics {
    width: 30vw;
}

.tankbtn {
    float: bottom;
}

.shopping-list {

}

.items {

}